html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;????*/
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
	font-size: 10px;
}

#fixed_width {
	max-width: 1280px;
	margin: 0 auto;
	/*align-items: center;*/
}

.clearfix
{
    display:block;
    zoom:1;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#masthead_bar {
	background-color: #003366;
	width: 100%;
	height: 80px;
	margin: 0 0 0 0;
	float: left;
}


#masthead {
		width: 230px;
		/*background-color: #003366; */
		/*float: left;*/
		display: inline-block;
		margin: -54px 0 0 30px;
}

#masthead:hover {
	-webkit-filter: brightness(100%);
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    -ms-transition: all 0s ease;
    transition: all 0s ease;
}


#tagline {
	font-family: "Merriweather Sans", sans-serif; 
	font-size: 1.1em; 
	line-height: 1.3em;
	font-weight: lighter; 
	width: 300px;
	color: rgba(255,255,255,.5); 
	display: inline-block;
	font-style: italic; 
	padding: 0 0 0 20px; 
	margin: -30px 0 0 -10px;
}


nav {
	min-width: 1024px;
	max-width: 1400px;
	margin-left: 0%;
	text-align: center;
	/*display: inline;*/
	/*margin: 1em 0 -1em 0;*/
	padding: 0.3em 0 0 0;
	/*align-items: center;*/
	/*border: 1px dotted white;*/
	border-bottom: 1px solid white;
}

.nav_sections {
	font-family: "Merriweather Sans", sans-serif; 
	font-size: 1.15em; 
	color: #494848;
	display: inline-block;
	margin: 1em -.25em 1em -.26em;
	padding: 7px 0px 1.2em 0px;
	/*align-items: center;*/
}

.navbar_lines {
	border: .1em solid #929293;
	/*width: 1px;*/
	height: 1em;
	display: inline-block;
	margin: .2em 0 0 0;
	/*padding: 0 0 0 0;*/
}

#navbar_grey {
	background-color: #b4b4af;
	height: 2.2em;
	width: 100%;
	margin: -1em 0 2em 0;
	float: center;
}

a {
	color: inherit; 
	text-decoration: none;
}

nav a:link {
	color: #494848;
	margin-top: -.3em;
	padding: .5em 1em .5em 1em;
}

nav a:hover {
	color: white;
	background-color: #0066cc;
}



a:link {
  color: color: #494848;;
  background-color: transparent;
} 

a:hover {
  color: inherit;
  /*background-color: transparent;*/
}



main {
	width: auto;
	margin-left: 3%;
}



img {
    -webkit-filter: brightness(100%);
}

img:hover {
    -webkit-filter: brightness(150%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}





/*.captions {
	font-family: "Merriweather Sans", sans-serif; 

	font-weight: 100; 
	font-size: 12px;
	line-height: 1.6em; 
	text-align: left;
	color: rgba(0,0,0,.7);
	width: 50%;
	margin-bottom: 2em;
	margin-top: .5em;
	border-bottom: 2px dotted rgba(0,0,0,.15);
}*/


.timestamp {
	font-family: "Merriweather Sans", sans-serif;
	font-weight: lighter; 
	font-size: 0.85em;
	text-transform: uppercase;
	line-height: 1.15em; 
	text-align: left;
	color: #9f9e9a; 
	margin: .5em 0 1em 0;
	/*width: 100%;*/
	display: block;
}



.bullets {
	font-family: "Merriweather Sans", sans-serif;  
	font-size: 185%; 
	font-weight: 900; 
	float: left;
	display: inline;
	color: #0093d5;
}


#t1_2column_width {
	width: 63%;
	margin: 0 1.5em 0 0;
	float: left;
	/*display: inline-block;*/
}

.t1_topic {
	font-family: "Merriweather Sans", sans-serif;  
	font-weight: 100; 
	font-size: .95em; 
	line-height: 1.15em; 
	text-align: left;
	text-transform: uppercase;
	color: #51b3e5; 
	margin: 0 0 0 .2em;
	padding: 0;
	display: block;
}

h1 {
	font-family: "Bitter", sans-serif; 
	font-weight: 600; 
	font-size: 2.4em;
	color: #494848;
	line-height: 1.25em; 
	text-align: left;
	margin-top: 0;
	margin-left: 0;
	padding-top: 0.1em;
	padding-bottom: 0.5em;
	display: block;
}


#t1_column3 {
	width: 33%;
	margin: 0 0 0 0em;
	/*background-color: pink;*/
	display: inline-block;
}



#t1_photos {
	margin: 0 3% 1em 0;
	width: 100%;
	float: left;
}

.t1_subhead {
	font-family: "Bitter", serif;
	font-style: italic;  
	font-weight: lighter; 
	font-size: 1.4em; 
	line-height: 1.45em; 
	text-align: left;
	color: #848481; 
	margin-bottom: .5em;
	display: block;
}


.t1_related_stories {
	font-family: "Merriweather Sans", sans-serif; 
	font-size: 1.2em;
	line-height: 1.4em;
	color: #00468f;
	display: block;
	margin: .2em 0 0 0;
	padding: 0 0 0 .7em;
	width: 96%;
	text-indent: -.7em;
}



.t2_column1 {
	width: 31%;
	/*padding-bottom: 1em;*/
	margin: 0 .5% 1em 0;
	display: inline-block;
	/*background-color: pink;*/
}


.t2_column2 {
	width: 31%;
	/*background-color: pink;*/
	margin: 0 1% 0 1%;
	padding-bottom: .5em;
	display: inline-block;
}

.t2_column3 {
	width: 30%;
	background-color: #edede9;
	padding: 1.2em 1% .5em 1%;
	margin: 0 1% 0 1%;
	display: inline-block;
	/*clear: none;*/
}


h2 {
	font-family: "Bitter", sans-serif; 
	font-weight: 600; 
	font-size: 1.8em;
	color: #494848;
	line-height: 1.25em; 
	margin-top: 0.2em;
	padding-bottom: 0.5em;
	display: block;
}

.t2_photos {
	/*margin-top: 0;*/
	width: 100%;
	display: block;
	margin-bottom: 1em;
}


.t2_topic {
	font-family: "Merriweather Sans", sans-serif;  
	font-weight: 100; 
	font-size: .95em; 
	line-height: 1em; 
	text-align: left;
	text-transform: uppercase;
	color: #51b3e5; 
	margin-bottom: .2em;
	display: block;
}


.t2_subhead {
	font-family: "Bitter", serif;
	font-style: italic;  
	font-weight: lighter; 
	font-size: 1.3em; 
	line-height: 1.35em; 
	text-align: left;
	color: #848481; 
	margin-bottom: .6em;
	display: block;
}

.t2_related_stories {
	font-family: "Merriweather Sans", sans-serif; 
	font-size: 1.2em;
	text-align: left;
	line-height: 1.4em;
	color: #00468f;
	display: block;

	margin: 1em 0 0 0;
	padding: 1em 0 0 -.7em;
	width: 100%;
	text-indent: -.7em;
}





h3 {
	font-family: "Bitter", sans-serif; 
	font-weight: 600;
	font-size: 1.8em;
	line-height: 1.25em;
	color: #494848;
	padding-bottom: .5em;
	display: block;
}

.t3_column1 {
	width: 31.2%;
	padding-bottom: .5em;
	margin: 0 1% .5em 0;
	display: inline-block;
	/*background-color: pink;*/
}

.t3_column2 {
	width: 31.2%;
	background-color: #edede9;
	padding: 0;
	margin: 0 1% .5em 1%;
	display: inline-block;
}

.t3_column3 {
	width: 31.2%;
	margin: 0 0 .5em 1%;
	/*padding-right: 1.5%;*/
	padding-bottom: .5em;
	display: inline-block;
	/*background-color: pink;*/
}

.t3_photo1, .t3_photo2, .t3_photo3 {
	margin: 0 0 1em 0;
	width: 100%;
	/*float: left;*/
	display: inline-block;
}

.t3_topic1, .t3_topic3 {
	font-family: "Merriweather Sans", sans-serif;  
	font-weight: 100; 
	font-size: .95em; 
	line-height: 1em; 
	text-align: left;
	text-transform: uppercase;
	color: #51b3e5; 
	/*margin: 0 0 0 2%;*/
	display: block;
}

.t3_topic_grey {
	font-family: "Merriweather Sans", sans-serif;  
	font-weight: 100; 
	font-size: .95em; 
	line-height: 1em; 
	text-align: left;
	text-transform: uppercase;
	color: #51b3e5; 
	margin: -1.2em 0 0 0;
	display: block;
}

.t3_subhead {
	font-family: "Bitter", serif;
	font-style: italic;  
	font-weight: lighter; 
	font-size: 1.3em; 
	line-height: 1.35em; 
	text-align: left;
	color: #848481; 
	margin-bottom: .6em;
	display: block;
}

.t3_inside_grey {
	padding: 1.2em .6em .5em .6em;
}


.article_line {
	border-top: 1px solid #c7c7c5;
	margin: 1.8em 0 1.2em 0;
	display: block;
	width: 98.5%;
	/*float: left;*/
	/*clear: both;*/
}


#right_sidebar {
	font-family: "Merriweather Sans", sans-serif;  
	border: 0px solid white;
	background-color: lightgray;
	width: 23%;
	padding: 1em 1%;
	height: 140vh;
	float: right;
	margin-top: -1.95em;
	margin-bottom: -300%;
}


h4 {
	font-family: "Merriweather Sans", sans-serif; 
	font-weight: 900;
	font-size: 1.4em;
	line-height: 1.25em;
	color: #494848;
	padding-bottom: .5em;
	display: inline-block;
}

#a3_box {
	margin: 10px 0 0 0;
	padding: 10px;
	border: 1px solid white;
	background-color: rgba(255,255,255,.3);
}

.a3listing {
	color: black;
}

.a3listing:hover {
	color: red;
}

.a3_company {
	font-family: "Merriweather Sans", sans-serif; 
	font-size: 1.15em;
	font-weight: 900;
	line-height: 1.6em;
	color: red;
	margin-top: .3em;
	margin-bottom: .35em;
}

.a3_company:hover {
	color: #f06755;
	font-size: 140%;
	line-height: 115%;
}

.a3_list {
	font-family: "Merriweather Sans", sans-serif; 
	font-size: 1.15em;
	font-weight: 900;
	line-height: 1.6em;
	color: #494848;
	margin-top: .3em;
	margin-bottom: .35em;
}

.a3_list:hover {
	color: grey;
}

#a3_list:last-child{
	margin-bottom: 0;
}

.a3_partition {
	border-top: 1px solid white;
	margin: .3em 0;
}

.semifull_width {
	width: 74%;
	/*float: left;*/
	/*clear: both;*/
	/*background-color: yellow;*/
	/*border: 1px solid green;*/
	/*float: left;*/
	/*margin-bottom: 10px;*/
}

.two-thirds-width {
	width: 63%;
	/*float: left;*/
	display: block;
	background-color: green;
	margin-right: 10px;
	margin-top: 0;
}

.full_width {
	width: 100%;
} 

.float_left {
	float: left;
}
	





#go_to_top {
	margin: 2em auto 1em auto;
	padding: 0;
	border: 2px solid lightgray;
	border-radius: 7px;
	background: none;
	/*float: left;*/
	display: block;
	clear: both;
}

#go_to_top:hover {
	background: grey;
	/*margin-bottom: -1em; */
}



/*#go_to_top:hover {*/
	/*background: rgba(181,193,199,0.2);*/
	/*margin-bottom: -1em; */
/*}*/



.footer_base {
	background: #003366;
	width: 100%;
	height: 10em;
	padding-top: .1em;
	float: left;
}

#offices_in {
	font-family: "Merriweather Sans", sans-serif; 
	font-weight: lighter; 
	font-size: 1em; 
	line-height: 2em;
	text-transform: uppercase; 
	text-align: center; 
	letter-spacing: 2px; 
	color: rgba(255,255,255,.6); 
	margin: 1em 0 -0.8em 0;
	display: block;
	/*background-color: pink;*/
	/*width: 100%;*/
}


#country_list {
	/*float: center;*/
	/*width: 100%;*/
	margin: 0 3%;
	display: block;
	align-items: center;
}

li {
	font-family: "Merriweather Sans", sans-serif; 
	font-weight: 300; 
	font-size: 1em; 
	/*line-height: 1.8em; */
	text-align: center; 
	color: rgba(255,255,255,.3); 
	letter-spacing: 0.75px; 
	/*list-style-type: none; */
	text-transform: uppercase;
	margin: 1.5em 1em 0 1em;
	/*padding: 0;*/
	display: inline-block;
	/*float: center;*/
	width: auto;
	/*background-color: pink;*/
}



#end_url {
	font-family: "Merriweather Sans", sans-serif; 
	font-weight: 300; 
	font-size: 1.2em; 
	line-height: 1.8em; 
	text-align: center; 
	color: white; 
	letter-spacing: 0.75px; 
	line-height: 3em;
	text-align: center; 
	margin: 0; 
	padding-top: 1em;
	/*float: center;*/
	display: block;
}


#pink {
	color: #4487c8;
}


#pink;hover {
	color:pink;
}

#light_view {
	color: #80c7ee;
}

#light_view:hover {
	color: pink;
}

#dark_asia {
	color: #4487c8;
	text-decoration: none;
}
#dark_asia:hover {
	color: pink;
}



a:link {
  color: #5ba4da;
  background-color: transparent;
} 

a:hover {
  color: lightblue;
  background-color: transparent;
}




/* .float_center {
 	float: center;
 }
*/
/*#end_url {
	font-family: "Merriweather Sans", sans-serif; 
	font-weight: 300; 
	font-size: 12px; 
	line-height: 1.8em; 
	text-align: center; 
	color: white; 
	letter-spacing: 0.75px; */
	/*line-height: 3em;*/
/*	text-align: center; 
	margin: 1em 0; 
	padding-top: 0em;
	float: center;
	display: block;
}*/

/*#pink:hover {
	color:pink;
}

#light_asia {
	color: #18a2dd;
}

#light_asia:hover {
	color: pink;
}

#lighter_view {
	color: #80c7ee;;
}

#lighter_view:hover {
	color: pink;
}*/


@media screen and (max-width: 800px) {

	body {
		font-size: 10px:
	}

#masthead_bar {
	background-color: #003366;
	width: 100%;
	height: 6.5em;
	margin: 0 0 0 0;
	float: left;
}

#masthead {
		width: 200px;
		/*background-color: #003366; */
		/*float: left;*/
		display: inline-block;
		margin: -44px 0 0 20px;
}

#tagline {
	font-family: "Merriweather Sans", sans-serif; 
	font-size: 1.1em; 
	font-weight: lighter; 
	width: auto;
	color: rgba(255,255,255,.5); 
	/*display: inline-block;*/
	float: left;
	font-style: italic; 
	padding: 10px 0 0 0; 
	margin: -44px 0 0 230px;
}


.semifull_width {
	width: 97%;	
}



main {
	width: 100%;
}

	#right_sidebar {
		margin: 0 3%;
		width: 96%;
		height: 22em;
	}

	#t1_2column_width, #t1_column2, #t1_column3 {
		width: 99%;
	}

	#t1_column3 {
		width: 99%;
	}

	#t1_topic, #t2_topic, #t3_topic {
		width: 96%;
		margin: 1em 0 0 0
	} 

	#t1_photos, #t2_photos, #t3_photos {
		width: 99%;
		display: block;
		/*width: 100%;*/
		/*float: none;*/
		/*margin: 0 3%;*/
	}

	.timestamp {
		width: 96%;
		margin: .5em 0 1em 0;
	}


	h1 {
		width: 99%;
		font-size: 3em;
		color: #494848;
	}


	.t1_subhead {
		width: 96%;
		font-size: 1.75em;
	}

	#t1_rightside {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.t1_related_stories {
		display: block;
		/*width: 97%;*/
		/*margin-right: 10em;*/
	}


	.t1_related_stories {
		width: 96%;
		margin-top: .5em;
	}

	#tagline {
		display: block;
	}


	h2 {
		width: 99%;
		font-size: 2.3em;
		margin: 
	}

	.t2_subhead {
			width: 99%;
			font-size: 1.5em;
		}

	.t2_photos {
		margin-bottom: -2em;
	}

	.t2_column1 {
		width: 30%;
	}

	.t2_column2 {
		width: 30%;
		margin: -1.3em 0 0 .5%;
		/*background-color: pink; */
	}

	.t2_column3 {
		width: 30%;
		margin: -.5em 0 0 1%;
		padding: 0 1em 1em 1em;
		background-color: #edede9;
	}

	.t2_related_stories {
		margin: 0.5em 0 0 -106%;
		padding-bottom: 0;
		width: 203%;
		/*border-bottom: 1px solid lightgrey;*/
	}

	.t2_topic {
		padding-top: 1.5em;
		/*margin-top: -1em;*/
	}	

	.t3_column1 {
		width: 106%;
		margin: -2.1em -3% 0 -3%;
		padding-top: 2em;
		background-color: #edede9;
		border-top: 1px solid #c7c7c5;
	}

	.t3_topic1 {
		margin-top: 2em;
	}

	.t3_topic3 {
		margin-top: 0.3em;
	}

	.t3_column2 {
		width: 48.5%;
		margin: 2em 0% 0 0;
		padding-bottom: .5em;
		background-color: transparent;
	}

	.t3_inside_grey {
		margin-left: 0;
		padding-left: 0;
	}

	.t3_column3 {
		width: 48.5%;
		margin: 2em 0 0 1%;
	}

	.t3_photo1 {
		width: 64%;
		float: left;
		margin: 2em 1em 2em 3%;	
	}

	h3 {
		width: 99%;
		font-size: 2.3em;
		margin: 
	}

	.t3_subhead {
			width: 99%;
			font-size: 1.5em;
		}


	.article_line {
		margin-top: 2em;
		margin-bottom: 2em;
	}	

/*	.t3_topic {
			margin-top: -1em;
*/			/*margin-top: -1em;*/
		/*}	*/
.t3_topic_grey {
	margin-top: -1em;
	} 

	.article_line {
		margin-top: 2em;
		margin-bottom: 2em;
		width: 100%;
	}	


.footer_base {
	height: 18em;
	margin: 0;
}


@media screen and (min-width: 320px) and (max-width:480px) {
	body {
		font-size: 10px;
		float: none;
		width: auto;
		display: block;
	}

#masthead {
	float: none;
	width: 200px;
	display: inline-block;
	margin: -44px 0 0 20px;
}


#tagline {
	/*float: none;*/
	display: inline-block;
	width: 150px;
	margin: -59px 0 0 240px;
}

.float_center {
	/*width: 100%;*/
}

.semifull_width {
	width: 94%;
	/*background-color: pink;*/
}

main {
	width: 100%;
}

	#right_sidebar {
		margin: 0 3%;
		width: 96%;
		height: 22em;
	}

	#t1_2column_width, #t1_column2, #t1_column3 {
		width: 100%;
	}

	#t1_column3 {
		width: 100%;
	}

	#t1_topic, #t2_topic, #t3_topic {
		width: 96%;
		margin: 1em 0 0 0
	} 

	#t1_photos {
		width: 106%;
		display: block;
		margin: 0 0% 1em -3%;
		/*float: none;*/
		/*margin: 0 3%;*/
	}

	.timestamp {
		width: 96%;
		margin: .5em 0 1em 0;
	}


	h1 {
		width: 100%;
		font-size: 3em;
	}

	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 2em;
	}


	.t1_subhead {
		width: 96%;
		font-size: 1.8em;
	}

	#t1_rightside {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.t1_related_stories {
		display: block;
		/*width: 97%;*/
		/*margin-right: 10em;*/
	}


	.t1_related_stories {
		width: 96%;
		margin-top: .5em;
	}

	#tagline {
		display: block;
	}


	h2 {
		width: 100%;
		margin: 
	}

	.t2_subhead {
		width: 96%;
		font-size: 1.6em;
	}


	.t2_photos {
		width: 106%;
		display: block;
		margin: 0 0 -2em -3%;
	}

	.t2_column1 {
		width: 100%;
	}

	.t2_column2 {
		width: 100%;
		margin: 2em 0 0 0;
	}

	.t2_column3 {
		width: 103%;
		margin: -.5em -3% 0 -3%;
		padding: 0 3% 1em 3%;
		background-color: #edede9;
	}

	.t2_related_stories {
		margin: 0.5em 0 0 0;
		padding-bottom: 1em;
		width: 97%;
		/*border-bottom: 1px solid lightgrey;*/
	}

	.t2_topic {
		padding-top: 1.5em;
		/*margin-top: -1em;*/
	}

	.t2_subhead {
		margin-right: 3%;
	}


	.t3_column1 {
		width: 106%;
		padding-top: 2em;
		background-color: transparent;
	}


	.t3_column2 {
		width: 106%;
		margin: 0 -3%;
	}

	.t3_column3 {
		width: 106%;
		margin: 2em -3%;
	}

	.t3_photo1, .t3_photo3 {
		width: 106%;
		margin: 0 0 1.3em -3%;
	}

	.article_line {
		margin-top: 2em;
		margin-bottom: 2em;
	}	

	.t3_topic1 {
		margin: 2em 3% 0 3%;
	}	

	.t3_topic_grey {
		margin: -1em 3% 0 3%;
		}

		h3 {
			margin: 0 3%;
			font-size: 2.5em; 
		}

	.t3_subhead {
		margin: 0 3%; 
		font-size: 1.6em;
	}

	.t3_topic2 {
		margin: 0 3%;
	}

	.t3_topic3 {
		margin: 0 3%;
	}

	.timestamp {
		margin: 1em 3%;
	}

/*	.t3_topic3 {
			margin-top: 2em;
		}	
*/


}